<app-header></app-header>
<div class="row">
  <div class="col-2 products">
    <span>Products</span> 
  </div>
  <div class="col-2 about">
    About
  </div>
</div>
<div class="row product-box" >
  <div class="col-3 wrapper-product" *ngFor="let product of products; let i = index" >
    <a [routerLink]="['/cart/', product.id]"><img class="product-img" src="{{product.thumbnail}}" alt="" (click)="storeToService(product)">  </a>
    <div class="product-info">{{product.name}}</div>
    <div class="product-price">{{product.price}}{{product.currency}}</div>
  </div>
</div>
