.header-logo{
    display: flex;
    justify-content: center;
    
}

.row{
   justify-content: center; 
   margin: 50px;
   padding-right: 15%;
    padding-left: 15%;
}



.cart{
color: #131518;
font-size: 18px;
font-weight: 700;
justify-content: flex-end;
align-items: center;
display: flex;
padding-right: 35px;
}

i{
margin-right: 5px ;
}