<div class="row">
  <div class="col-4 empty">
  </div>
  <div class="col-4 header-logo">
      <img src="../../assets/www/static/panagora-logo.svg" alt="">
  </div>
  <div class="col-4 cart">
    <span><i class="fas fa-shopping-cart"></i>CART: {{0}}</span> 
  </div>
</div>
