<div class="row test">
    <div class="col-4 empty">
    </div>
    <div class="col-4 header-logo">
        <img  src="../../assets/www/static/panagora-logo.svg" alt="">
    </div>
    <div class="col-4 cart">
      <span><i class="fas fa-shopping-cart"></i>CART: {{number}}</span> 
    </div>
</div>
  <div class="container">
    
        <div class="row wrapper-product">
            <div class="col-6 product-img">
                <img class="test1" src="{{productObj.thumbnail}}" alt="">
            </div>
        </div>
        <div class="row wrapper-product">
            <div class="col-6 name">
                {{productObj.name}}
            </div>
        </div>
        <div class="row wrapper-product ">
            <div class="col-6 price">
                <div class="row">
                    <div class="col-6 price-currency">
                        {{productObj.price}} {{productObj.currency}}
                    </div>
                    <div class="col-6 add-btn">
                        <button class="btn" (click)="addToCart()">Add to cart</button>
                    </div>
                </div>
                
            </div>
        </div>
        
</div>
