.wrapper-product{
    justify-content: center;

}

.product-img{
    margin-bottom: 10px;
}

.test1{
    width: 100%;
}

.name{
    font-weight: 800;
}

.wrapper{
    border: 1px solid black
}

.btn{
    background-color: #131518;
    color: #f2f2f2;
}

.btn:hover{
    background-color: #35c092;
    color: #f2f2f2;
}

.price{
    margin-top: 15px;
}

.add-btn{
    text-align: end;
}

.price-currency{
    display: flex;
    align-items: center;
}

.header-logo{
    display: flex;
    justify-content: center;
    
}

.test{
   justify-content: center; 
   margin: 50px;
   padding-right: 15%;
    padding-left: 15%;
}



.cart{
color: #131518;
font-size: 18px;
font-weight: 700;
justify-content: flex-end;
align-items: center;
display: flex;
padding-right: 35px;
}

i{
margin-right: 5px ;
}