.row{
  justify-content: center;
}

.product-box{
  
  padding-right: 15%;
  padding-left: 15%;
}

.products{
  text-align: end;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 50px;
}

span{
  border-bottom: 1px solid black;
  padding-bottom:4px;
}

.about{
  text-align: start;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 50px;


}

.wrapper-product{
  text-align: center;
  
  ;
}

.product-img{
  margin-bottom: 15px;
  cursor: pointer;
}

.product-info{
  font-weight: 800;
  text-align: start;
  margin: 0px 58px 0px 58px;
}

.product-price{
  font-weight: 600;
  text-align: start;
  margin: 0px 58px 15px 58px;
}